<div class="form-group">
    <label for="<?= name ?>"><?= title ?></label>
    <input type="text" placeholder="<?= placeholder || '' ?>" class="form-control" id="<?= name ?>" name="<?= name ?>">
</div>
